#productupdates{
    display:none;
    position: absolute;
    top:30%;
    left:50%;
    z-index:9999;
    margin:-150px 0 0 -150px;
    text-align:left;
    /*background-color: #fff;*/
}
#productupdates[id]{ /* IE6 and below Can't See This */
    position:fixed;
}
#aw_pun_heading {display:block; width:280px; margin: 0 0 5px 0 } /* Style for H4 */
.aw_pun_success { width:280px; }

#productupdates h3 {padding: 4px 0;}

#productupdates .group-select {margin: 0;}

#productupdates-overlay{
    display:none;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:5000;
    background-color:#000;
    -moz-opacity: 0.3;
    opacity:.30;
    filter: alpha(opacity=30);
}
#productupdates-overlay[id]{ /* IE6 and below Can't See This */
                             position:fixed;
}

#productupdates.done #punLoadMessage{
    display:none;
}
#productupdates.done #punContent{
    display:block;
}
#productupdates.loading #punContent{
    display:none;
}
#productupdates.loading #punLoadMessage{
    font-size: 1.1em;
    font-weight: bold;
    color: #000;
    display:block;
    background-color: #fff;
    width: 100px;
    padding: 10px;
    margin: 250px 0 0 120px;
}

.productupdates-please-wait {
    padding-right:7px;
}

#pun-subscribe .group-select {
    margin:5px 0;
    border:1px solid #bbafa0;
    padding:5px 5px 5px 5px;
    background:#fbfaf6;
}

#pun-subscribe .button-set{
    border-top:1px solid #E4E4E4;
    clear:both;
    margin:4px 0 4px 8px;
    padding-top:8px;
    text-align:left;
}

#pun-subscribe .group-select li .input-box .input-text,
#pun-subscribe .pun-super-attribute-select,
#aw-pun-configurable-stock
{
    width:275px;
}

.pun-right{
    text-align: right;
}
#pun-subscribe .form-list label {

    float: none;
}

#pun-subscribe label.required {
    color: #EB340A;
    font-weight:bold;
}

#map-popup a[id|='productupdates'] {
    display:none;
}